*{
    box-sizing: border-box;
    font-family:sans-;
    font-style:oblique;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body{
    background-color: #0e1535;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: auto;
}
html{
    scroll-behavior: smooth;
}

header i:hover{
    color: rgb(69, 41, 249);
    transform: scale(1.3);
}

.edu{
    margin: 20px;
    display: flex;
    flex-direction: column;   
    padding: 20px;
    animation: slideIn 2s ease;
    background-color: #141c45;
    
   
  
}
.edu ul{
    margin: 10px;
    list-style:lower-greek;
    
    
}
.edu li{
    font-size: 18px;
    width: 100%;
}
.edu h2{
    color: chocolate;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    background-color: #0e1535;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
   
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f38238;
    text-decoration: none;
    margin-right: 20px;
}
.back-btn{
    font-size: 16px;
    color: #4946ec;
    text-decoration: none;  
    padding: 8px 12px;
    border-radius: 4px;
}
.btn{
    font-size: 16px;
    color: #ffffff;
    background-color: #3b88db;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    animation: slideIn 1s ease;
  
}
.btn a{
    color: #ffffff;
    text-decoration: none;
}

.btn:hover{
    background-color: #b32a00;
    transition: background-color 0.3s ease;
}
.about{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 30px;
    padding: 20px;
    overflow: hidden;
    flex-wrap: nowrap; 
    margin-bottom: 55px;

}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    animation: fadeIn 3s ease;
    width: 100%;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 5%;
    padding: 20px;
   
   
}
.ibtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     margin-top: 20px;
     flex-direction: column;
}

.ibtn i{
    font-size: 24px;
    color: #3b88db;
     cursor: pointer;
    transition: color 0.3s ease;
}
.ibtn i:hover{
    color: #e16538;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about img{
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIny 2s ease;


}
.about h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.about p{
    font-size: 18px;
    max-width: 600px;
    text-align: center;
}
.highlight{
    color: #3b88db;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
   
}


 .skills-list { 
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    width: 100%;

}
.sills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
   
}


#card{
   background-color: #141c45;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
   
    animation: slideIn 1s ease;
    animation-timeline: view();
    animation-range: entry  cover 40%;
}
 .skills-list span{
    display: block;
    margin: 5px ;
    border: #0056b3 solid 1px;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    text-align: center;
    
   
}
#card:hover{
    
    transform: scale(1.05);
        transition: transform 0.3s ease;
        box-shadow: #0056b3 0px 8px 16px;
}
img:hover{
    transition: transform 0.3s ease;
    box-shadow: #0056b3 0px 8px 16px;
}


    .skills-header i{
        font-size: 24px;
        color: #3b88db;
        animation: fadeIn 2s ease;
    }

    .skills-list:has(#card:hover)> #card:not(:hover) {
     opacity: 0.5;
     transform: scale(0.95);
     transition: opacity 0.3s ease, transform 0.3s ease;
      

    }

    .contact ul li i{
        font-size: 24px;
        color: #3b88db;
        margin: 0 10px;
        transition: color 0.3s ease;
    }
   .info h2{
    display: none;

   }     
    
        


@keyframes fadeIn {
    from {
        transition: opacity 2s ease;
        opacity: 0;
     }
    to {
        transition: opacity 2s ease;
            opacity: 1;
         }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
     }
    to {
         transform: translateX(0);
         }
}

@keyframes slideIny {
    from {
        transform: translateY(-100%);
     }
    to {
         transform: translateY(0);
         }
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    height: 100vh;
    animation: fadeIn 2s ease;
    padding: 50px;

 }

 .contact .outer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;  
    padding: 20px;
    background-color: #141c45;
    margin: 6%;
     border-radius: 8px;
     box-shadow: #2161a5 0px 4px 8px;   
     transition: transform 0.3s ease;

 }
    .contact h2{
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    .contact a{
        font-size: 20px;
         color: #fff;
        text-decoration: none;
        margin: 10px;
    }
    .contact a:hover{
       
        color: #e16538;
        
    }
    .contact .outer:hover {
        transform: translateY(-5px);
    }
    .contact .outer i{
        font-size: 24px;
        color: #6244fa;
        padding:10px;
        cursor: pointer;
    }
    
   .contact .outer i:hover{
        color: #3d9cf4;
    } 

    .contact ul{
        list-style: none;
        margin: 3px;
     
    }
  
  @media (max-width: 600px){
    .pic{
        display: none;
    }
   
    .about h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.about p{
    font-size: 16px;
    max-width: 500px;
    text-align: center;
}
   .back-btn{
    font-size: 12px;
    padding: 4px 8px;
}
.btn{
    font-size: 12px;

}
.edu{
    margin-bottom: 50px;
}
.edu h2{
    font-size:1.5rem ;
}

.edu ul{
    margin: 8px;
    list-style:lower-greek;
    
    
}
.edu li{
    font-size: 12px;
    width: 100%;
}
.logo{
    font-size: 18px;
    margin-right: 10px;
}

#card{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    width: 250px;
    height: 250px;
    margin: 10px;
    border: #0056b3 1px solid;
    margin-top: 20px;

    }

.ibtn ,ul  i {
    font-size: 20px;
}  
.skills {
    margin: 50px 0 ;
} 
.contact h2{
        font-size: 15px;
        margin-bottom: 10px;
        text-align: center;
        display: none;
    }

    .contact a{
        font-size: 10px;
        margin: 6px;
    }
 
    .contact .outer i{
        font-size: 10px;
       
    }
    #cenh{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    }
       
    }

     /*phone*/

    @media (max-width:400px) {
    .about h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
    .about p{
    font-size: 10px;
    max-width: 350px;
    text-align: center;
  
    }

    .back-btn{
    font-size: 12px;
    padding: 4px 8px;
}
.btn{
    font-size: 12px;

}
.edu{
    margin-bottom: 50px;
}
.edu h2{
    font-size:1.5rem ;
}

.edu ul{
    margin: 8px;
    list-style:lower-greek;
    
    
}
.edu li{
    font-size: 12px;
    width: 100%;
}
.logo{
    font-size: 18px;
    margin-right: 10px;
}

#card{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    width: 250px;
    height: 250px;
    margin: 10px;
    border: #0056b3 1px solid;
    margin-top: 20px;

    }

 .ibtn i{
    font-size: 12px;
}  
.skills {
    margin: 50px 0 ;
} 
.contact .head h2{
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
    }

    .contact a{
        font-size: 10px;
        margin: 5px;
    }
 
    .contact ul li i{
        font-size: 16px;
        padding: 3px;
    }
    
    .contact ul{
        list-style: none;
        margin: 3px;
     
    }
  .head{
    display: block;

  }
  

}
        
  



