

body{
 /* background-image: url("../media/projback.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    */
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: auto;
}




.projects h1{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 2s ease;
   

}



.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    height: 100vh;

   
}

.project-item {
    width: 30%;
    border-radius: 8px; 
    transition: transform 0.3s ease;
    background-color: #141c45;
    padding: 3%;
    text-align: center;
    width: 400px;
   
}
.projects img{
    width: 250px;

}

.project-item:hover {
    transform: translateY(-5px);
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 4%;
  
   
}

.project-item h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: #5438e1;
    width: 100%;
}

.project-item p{
    font-size: 16px;
    color: #fff;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #e16538;
    text-decoration: none;
    font-style: italic;
    margin-right: 20px;
 }   

 #card1{
    animation: slideIn 1.9s ease;
 }
 #card2{
    animation: slideIn 1.8s ease;
 }
 #card3{
    animation: slideIn 2.3s ease;
 }



#end{
    padding: 40px;
}

@media (max-width: 600px){
    .projects{
        flex-direction: column;
        height: auto;
    }
    .project-item{
        width: 80%;
        width: 300px;
    }
    .project-item img{
        width: 100%;
        width: 200px;
    }


}

