*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body{
    background-color: #0e1535;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: auto;
}
html{
    scroll-behavior: smooth;
}

.edu{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    animation: fadeIn 1s ease;
  
}
.edu ul{
    list-style-type: none;
}
.edu li{
    font-size: 18px;
}


header{
    display: flex;
    justify-content: space-between;
   align-items: flex-start; 
    padding: 20px;
    background-color: #0e1535;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}
.back-btn{
    font-size: 16px;
    color: #4946ec;
    text-decoration: none;  
    padding: 8px 12px;
    border-radius: 4px;
}
.btn{
    font-size: 16px;
    color: #ffffff;
    background-color: #3b88db;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    animation: slideIn 1s ease;
}
.btn a{
    color: #ffffff;
    text-decoration: none;
}

.btn:hover{
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}
.about{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 40px;
    padding: 20px;

}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    animation: fadeIn 2s ease;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.about h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.about p{
    font-size: 18px;
    max-width: 600px;
    text-align: center;
}
.highlight{
    color: #3b88db;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
   
}
.skills-list{
    background-color: #141c45;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    
}

 .skills-list ul{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; 

}
.skills-list ul li{
    background-color: #141c45;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        transition: opacity 2s ease;
        opacity: 0;
     }
    to {
        transition: opacity 2s ease;
            opacity: 1;
         }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
     }
    to {
         transform: translateX(0);
         }
}


