*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;

}
body{
  background-image:url("../media/backHero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    text-transform: capitalize;
}

.layer{
    background-color:rgb(225, 210, 210);
    opacity: 0.4;
   

}

.hero{
    background-color: rgba(0, 0, 0, 0.5);
}


 a{
    text-decoration: none;
    color:white;
    cursor: pointer;
    margin: 5px;
    font-size: 1.2rem;
}
.logo{
    font-size: 35px;
    color: #3d0a0a;
   
    text-shadow:#e30c0c 2px 2px 4px;
}

#toggler,label{
    display: none;
}

header{
    background-color:black;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    height: 80px;
    padding: 0 20px; 
    align-items: center;
    color: white;
    position: fixed;
    z-index: 1000;
}

.hero{
    width:100%;
    height: 100vh;
    color: white;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 2s ease;
    z-index: -1;
}

button{
    background-color: #4c0303;
    border-radius: 14px;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    animation: slideIn 1s ease;
    box-shadow: 0 4px 8px rgba(198, 174, 174, 0.2);
    
}
button a{
    font-size: 1rem;
    color: #ec8888;
}

/*#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
 h1{
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: #3f0303 2px 2px 4px;
}
p{
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: #3a0606 2px 2px 4px;
}
h2{
    font-size: 25px;
    margin-bottom: 10px;
    text-shadow: #6d2a2a 2px 2px 4px;
}

button:hover{
    background-color: #0b0c0e;
    transition: background-color 0.5s;
}
header a:hover{
    color: #5a0404;
    transition: color 0.5s ease-in-out; 

}
span{
    color: #5a0404;
}
#home{
    font-weight: bold;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        transition: opacity 2s ease;
        opacity: 0;
     }
    to {
        transition: opacity 2s ease;
            opacity: 1;
         }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
     }
    to {
         transform: translateX(0);
         }
}

