*{
    box-sizing: border-box;
    font-family: cursive, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;

}
body{
  background-image: url("../media/back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    text-transform: capitalize;
}

.layer{
    background-color:rgb(225, 210, 210);
    opacity: 0.4;
   

}

.hero{
    background-color: rgba(0, 0, 0, 0.5);
}


 a{
    text-decoration: none;
    color:white;
    cursor: pointer;
    margin: 5px;
    font-size: 1.2rem;
}
.logo{
    font-size: 35px;
    color: #0d0a3d;
   
    text-shadow:#0c5ee3 2px 2px 4px;
    font-style: italic;
}

header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 2rem;
    color:#0316c4;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgb(0, 0,0, .3);
    display: none;
}

header{
    background-color:black;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    height: 80px;
    padding: 0 20px; 
    align-items: center;
    color: white;
    position: fixed;
    z-index: 1000;
    top: 0; left:0; right: 0;
}


.hero{
    width:calc(100% - 80px);
    height: 100vh;
    color: white;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 2s ease;
    z-index: -1;
}

button{
    background-color: #05034c;
    border-radius: 14px;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    animation: slideIn 1s ease;
    box-shadow: 0 4px 8px rgba(221, 221, 230, 0.2);
    
}
button a{
    font-size: 1rem;
    color: #8899ec;
}
 #btn button a:hover{
   
    color: #f6efec;
     transition: color 0.5s;
}

/*#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
 h1{
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: #0f033f 2px 2px 4px;
}
p{
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: #0d063a 2px 2px 4px;
}
h2{
    font-size: 25px;
    margin-bottom: 10px;
    text-shadow: #312a6d 2px 2px 4px;
}

button:hover{
    background-color: #e76127;
    color: white;
    transition: background-color 0.5s;
}
header a:hover{
    color: #19058c;
    transition: color 0.5s ease-in-out; 

}
span{
    color: #1d0788;
}
#home{
    font-weight: bold;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        transition: opacity 2s ease;
        opacity: 0;
     }
    to {
        transition: opacity 2s ease;
            opacity: 1;
         }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
     }
    to {
         transform: translateX(0);
         }
}

@media (max-width:600px) {

    header .fa-bars ,#toggler{
        display: block;
    }
    
    header .menu{
        position:absolute;
        top: 100%; left:0; right: 0;
        border-top: .1rem solid rgb(0, 0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .menu{
        clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
    }
    header .menu a{
         margin: 1.5rem;
         padding: 1.5rem;
         border: .1rem solid rgb(0, 0,0,.1);  ;
         display: block;
         background-color: #0a0374;
         border-radius: 1rem;
    }
    .menu a:hover{
        background-color: #e76127;
        color: white;
        transition: background-color 0.5s;
    }

    #home{
        font-weight: bold;
        text-decoration: underline;
        color: #e76127;
    }
    #home:hover{
        color: #ffffff;
        transition: color 0.5s ease-in-out; 
        
    }
    #btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero{
        width:100%;
        padding: 0 20px;
         display: flex;
        justify-content: center;
        align-items: center;

    }

    

    
}

