

body{
    background-color: #0e1535;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: auto;
}
a{

    text-decoration: none;
    color:rgb(62, 37, 222);
    cursor: pointer;
    margin: 5px;
    font-size: 1.2rem;
}
i{
    color: rgb(69, 41, 249);
}

header i:hover{
    color: rgb(69, 41, 249);
    transform: scale(1.3);
}



.projects h1{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 2s ease;
   

}



.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3%;
    width: 100%;
    height: 100vh;
}

.project-item {
   
    border-radius: 8px;
    overflow: hidden;
       
    transition: transform 0.3s ease;
    background-color: #141c45;
    padding: 3%;
    width: 100%;
    max-width: 600px;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 4%;
    width: 100%;
}

.project-item h2{
    font-size: 24px;
    margin-bottom: 10px;
   color: #5438e1;
}

.project-item p{
    font-size: 16px;
    color: #fff;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #e16538;
    text-decoration: none;
    font-style: italic;
 }   

 #card1{
    animation: slideIn 1.9s ease;
 }
 #card2{
    animation: slideIn 1.8s ease;
 }
 #card3{
    animation: slideIn 2.3s ease;
 }

 .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    height: 100vh;
    animation: fadeIn 2s ease;
    padding: 50px;

 }

 .contact .outer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;  
    padding: 50px;
    background-color: #141c45;
    margin: 6%;
     border-radius: 8px;
     box-shadow: #2161a5 0px 4px 8px;   
     transition: transform 0.3s ease;

 }
    .contact h2{
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    .contact a{
        font-size: 20px;
         color: #fff;
        text-decoration: none;
        margin: 10px;
    }
    .contact a:hover{
       
        color: #e16538;
        
    }
    .contact .outer:hover {
        transform: translateY(-5px);
    }
    .contact .outer i{
        font-size: 24px;
        color: #6244fa;
        padding:10px;
        cursor: pointer;
    }
    
   .contact .outer i:hover{
        color: #3d9cf4;
    } 

    .contact ul{
        list-style: none;
        margin: 3px;
        
        
        
    }